<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/father.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/dropdown.css">
    <link rel="stylesheet" href="../css/form.css">
    <script src="../js/dashboard-control.js"></script>
    <title>ParkFree - Seu Estacionamento Em Suas Mãos</title>
</head>

<body onload="returnName()" class="body-pure">
    <div class="div-pure">
        <header>
            <nav class="navbar">
                <ul>
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="meuscarros.html">Meus carros</a></li>
                    <li><a href="meuconsumo.html">Meu consumo</a></li>
                    <li><a href="regras.html">Regras</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn" id="userName"></a>
                        <div class="dropdown-content">
                            <a class="dropdown-content-a" href="perfil.html">Perfil</a>
                            <a class="dropdown-content-a" href="adicionarcarros.html">Adicionar Carros</a>
                            <a class="dropdown-content-a" href="#" onclick="logout()">Logout</a>
                        </div>
                    </li>
                </ul>

                <div class="div-header">
                    <h1>ParkFree</h1>
                    <h2>Seu Estacionamento Em Suas Mãos</h2>
                </div>
            </nav>
        </header>
        <section class="section">
            <h3>Adicinar Carros
            </h3>
            <article class="article">
                <h4>Adicione seus carros.
                </h4>

                <form>
                    <ul class="form-style-1">
                        <li><label>Nome do carro <span class="required">*</span></label><input type="text" class="field-long" placeholder="Nome do carro" /></li>
                        <li>
                            <label>Ano do Carro <span class="required">*</span></label>
                            <input type="date" class="field-long" />
                        </li>
                        <li>
                            <label>Prioridade do Carro</label>
                            <select class="field-select">
        <option >Carro Principal</option>
        <option>Carro secundário</option>
        <option >Carro de dependente</option>
        </select>
                        </li>
                        <li>
                            <label>Detalhes do carro<span class="required">*</span></label>
                            <textarea class="field-long field-textarea"></textarea>
                        </li>
                        <li>
                            <input type="submit" value="Enviar" />
                        </li>
                    </ul>
                </form>

            </article>
            <aside>

            </aside>
        </section>

        <footer class=" pure footer">
            <div>
                <h4>ParkFree - Seu Estacionamento Em Suas Mãos</h4>
            </div>
        </footer>
    </div>
</body>

</html>