<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/father.css">
    <title>ParkFree - Seu Estacionamento Em Suas Mãos</title>
</head>

<body class="body-pure">
    <div class="div-pure">
        <header>
            <nav class="navbar">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="planos.html">Planos</a></li>
                    <li><a href="sobrenos.html">Sobre Nós</a></li>
                    <li><a href="contato.html">Contato</a></li>
                    <li><a href="areacliente.html">Área do Cliente</a></li>
                </ul>

                <div class="div-header">
                    <h1>ParkFree</h1>
                    <h2>Seu Estacionamento Em Suas Mãos</h2>
                </div>
            </nav>
        </header>
        <section class="section">
            <h3>Blog
            </h3>
            <article class="article">
                <h4>Conheça a ParkFree
                </h4>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sapien eget consequat mattis. Quisque
                    facilisis sagittis lorem, non auctor quam venenatis non. Pellentesque sit amet metus eget magna consequat
                    maximus vel et metus. Vivamus ornare sagittis purus, id volutpat mauris vulputate quis. Vestibulum semper
                    posuere fringilla. Curabitur non rutrum massa. In hac habitasse platea dictumst. Quisque pharetra velit
                    nec massa pharetra mattis non ullamcorper leo. Mauris nec diam a leo tempor rutrum id et odio. Aenean
                    at consequat dui, a iaculis dui. Praesent maximus elit felis, sit amet consequat velit sollicitudin nec.
                    Ut lacus dolor, faucibus non ultricies eu, euismod a quam. Praesent dolor nisl, lobortis ut varius sit
                    amet, pellentesque id mauris. Proin elementum pretium eros, a feugiat est. Integer ultricies turpis nec
                    sem molestie tempor. Curabitur tortor ipsum, pharetra eu pellentesque eget, ullamcorper a tortor.</p>

                <p> Nam faucibus turpis vel nulla mollis pellentesque non vitae lacus. Nullam porttitor justo hendrerit pretium
                    sagittis. Aenean a mauris lacus. Duis fermentum tortor et nibh ullamcorper mollis. Duis bibendum ultricies
                    metus non maximus. Fusce luctus ultrices tortor, fermentum ullamcorper ligula porta a. Sed maximus erat
                    vel semper hendrerit. Donec fermentum erat quis gravida venenatis. Pellentesque enim turpis, facilisis
                    quis egestas quis, sagittis nec elit. Praesent sed hendrerit velit. Donec tristique lacinia purus, id
                    euismod nunc porta id. In hac habitasse platea dictumst. Nunc vel porttitor lacus. In fermentum mauris
                    non blandit commodo. Donec sed porttitor elit, id ultricies arcu. Sed condimentum placerat turpis a convallis.
                </p>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sapien eget consequat mattis. Quisque
                    facilisis sagittis lorem, non auctor quam venenatis non. Pellentesque sit amet metus eget magna consequat
                    maximus vel et metus. Vivamus ornare sagittis purus, id volutpat mauris vulputate quis. Vestibulum semper
                    posuere fringilla. Curabitur non rutrum massa. In hac habitasse platea dictumst. Quisque pharetra velit
                    nec massa pharetra mattis non ullamcorper leo. Mauris nec diam a leo tempor rutrum id et odio. Aenean
                    at consequat dui, a iaculis dui. Praesent maximus elit felis, sit amet consequat velit sollicitudin nec.
                    Ut lacus dolor, faucibus non ultricies eu, euismod a quam. Praesent dolor nisl, lobortis ut varius sit
                    amet, pellentesque id mauris. Proin elementum pretium eros, a feugiat est. Integer ultricies turpis nec
                    sem molestie tempor. Curabitur tortor ipsum, pharetra eu pellentesque eget, ullamcorper a tortor.</p>

                <p> Nam faucibus turpis vel nulla mollis pellentesque non vitae lacus. Nullam porttitor justo hendrerit pretium
                    sagittis. Aenean a mauris lacus. Duis fermentum tortor et nibh ullamcorper mollis. Duis bibendum ultricies
                    metus non maximus. Fusce luctus ultrices tortor, fermentum ullamcorper ligula porta a. Sed maximus erat
                    vel semper hendrerit. Donec fermentum erat quis gravida venenatis. Pellentesque enim turpis, facilisis
                    quis egestas quis, sagittis nec elit. Praesent sed hendrerit velit. Donec tristique lacinia purus, id
                    euismod nunc porta id. In hac habitasse platea dictumst. Nunc vel porttitor lacus. In fermentum mauris
                    non blandit commodo. Donec sed porttitor elit, id ultricies arcu. Sed condimentum placerat turpis a convallis.
                </p>
            </article>
            <aside>

            </aside>
        </section>

        <footer class=" pure footer">
            <div>
                <h4>ParkFree - Seu Estacionamento Em Suas Mãos</h4>
            </div>
        </footer>
    </div>
</body>

</html>