<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/father.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/dropdown.css">
    <link rel="stylesheet" href="../css/table.css">
    <script src="../js/dashboard-control.js"></script>
    <script src="../js/detalhes.js"></script>
    <script src="../js/maps.js"></script>
    <title>ParkFree - Seu Estacionamento Em Suas Mãos</title>
</head>

<body onload="returnName(); getLocation();" class="body-pure">
    <div class="div-pure">
        <header>
            <nav class="navbar">
                <ul>
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="meuscarros.html">Meus carros</a></li>
                    <li><a href="meuconsumo.html">Meu consumo</a></li>
                    <li><a href="regras.html">Regras</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn" id="userName"></a>
                        <div class="dropdown-content">
                            <a class="dropdown-content-a" href="perfil.html">Perfil</a>
                            <a class="dropdown-content-a" href="adicionarcarros.html">Adicionar Carros</a>
                            <a class="dropdown-content-a" href="#" onclick="logout()">Logout</a>
                        </div>
                    </li>
                </ul>

                <div class="div-header">
                    <h1>ParkFree</h1>
                    <h2>Seu Estacionamento Em Suas Mãos</h2>
                </div>
            </nav>
        </header>
        <section class="section">
            <h3>Meu Carro
            </h3>
            <article class="article">
                <h4>Dados iniciais sobre seus Carros
                </h4>
                <div class=".div-inicial-carro">
                    <table class="table-all table-hoverable">
                        <thead>
                            <tr class="table-light-grey">
                                <th>Carro</th>
                                <th>Dia cadastrado</th>
                                <th>Último dia de uso</th>
                                <th>Estacionamentos usados</th>
                                <th>Média de estacionamento usado no estado de origem</th>
                                <th>Último estacionamento usado</th>
                                <th>Total Consumo (R$)</th>
                                <th>Média Consumo por estacionamento (R$)</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Corsa</td>
                            <td>27/04/2016</td>
                            <td>27/04/2017</td>
                            <td>16</td>
                            <td>36</td>
                            <td>Estacionamento Gulier - Centro RJ</td>
                            <th>450</th>
                            <td>28,125</td>
                        </tr>

                    </table>
                </div>
                <h2>Localização do último estacionamento usado </h2>
                <div id="mapFake" class="divMap"></div>
            </article>
            <aside>

            </aside>
        </section>

        <footer class=" pure footer">
            <div>
                <h4>ParkFree - Seu Estacionamento Em Suas Mãos</h4>
            </div>
        </footer>
    </div>
</body>

</html>