<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/father.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/dropdown.css">
    <link rel="stylesheet" href="../css/cards.css">
    <script src="../js/dashboard-control.js"></script>
    <title>ParkFree - Seu Estacionamento Em Suas Mãos</title>
</head>

<body onload="returnName()" class="body-pure">
    <div class="div-pure">
        <header>
            <nav class="navbar">
                <ul>
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="meuscarros.html">Meus carros</a></li>
                    <li><a href="meuconsumo.html">Meu consumo</a></li>
                    <li><a href="regras.html">Regras</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn" id="userName"></a>
                        <div class="dropdown-content">
                            <a class="dropdown-content-a" href="perfil.html">Perfil</a>
                            <a class="dropdown-content-a" href="adicionarcarros.html">Adicionar Carros</a>
                            <a class="dropdown-content-a" href="#" onclick="logout()">Logout</a>
                        </div>
                    </li>
                </ul>

                <div class="div-header">
                    <h1>ParkFree</h1>
                    <h2>Seu Estacionamento Em Suas Mãos</h2>
                </div>
            </nav>
        </header>
        <section class="section">
            <h3>Perfil
            </h3>
            <article class="article">
                <h4>Seu Perfil
                </h4>
                <div class="div-inicial">
                    <div class="card">
                        <img src="../img/ceo.jpg" alt="ceo">
                        <div class="container">
                            <h2>Yago Souza</h2>
                            <p class="title">Conta Premium</p>
                            <p>Saldo(R$): 459,95</p>
                        </div>
                    </div>

                </div>
            </article>
            <aside>

            </aside>
        </section>

        <footer class=" pure footer">
            <div>
                <h4>ParkFree - Seu Estacionamento Em Suas Mãos</h4>
            </div>
        </footer>
    </div>
</body>

</html>