<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/father.css">
    <link rel="stylesheet" href="../css/cards.css">
    <title>ParkFree - Seu Estacionamento Em Suas Mãos</title>
</head>

<body class="body-pure">
    <div class="div-pure">
        <header>
            <nav class="navbar">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="planos.html">Planos</a></li>
                    <li><a href="sobrenos.html">Sobre Nós</a></li>
                    <li><a href="contato.html">Contato</a></li>
                    <li><a href="areacliente.html">Área do Cliente</a></li>
                </ul>

                <div class="div-header">
                    <h1>ParkFree</h1>
                    <h2>Seu Estacionamento Em Suas Mãos</h2>
                </div>
            </nav>
        </header>
        <section class="section">
            <h3>Nossos Planos
            </h3>
            <article class="article">
                <h4>Conheça Todos Nossos Planos
                </h4>
                <div class="card-list">
                    <div class="card">
                        <p>Este plano é ideal para quem contém somente um carro e o utiliza para locomoções próximas.</p>
                        <div class="container">

                            <img src="../img/start.jpg" alt="start">

                            <p class="title">Plano Start</p>
                            <p>R$ : 10/Mês + 1/carro</p>
                        </div>
                    </div>
                    <div class="card">
                        <p>Este plano é ideal para quem contém até 3 carros e se locomove para grandes distâncias.</p>
                        <div class="container">
                            <img src="../img/medio.png" alt="medio">
                            <p class="title">Plano Médio</p>
                            <p>R$ : 20/Mês + 2/carro</p>
                        </div>
                    </div>

                    <div class="card">
                        <p>Este plano é ideal para quem tem uma frota e muda de carro a cada mês.</p>
                        <div class="container">
                            <img src="../img/premium.jpg" alt="premium">
                            <p class="title">Plano Premium</p>
                            <p>R$ : 50/Mês</p>
                        </div>
                    </div>
                </div>
            </article>
            <aside>

            </aside>
        </section>

        <footer class=" pure footer">
            <div>
                <h4>ParkFree - Seu Estacionamento Em Suas Mãos</h4>
            </div>
        </footer>
    </div>
</body>

</html>