<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/father.css">
    <link rel="stylesheet" href="../css/cards.css">
    <title>ParkFree - Seu Estacionamento Em Suas Mãos</title>
</head>

<body class="body-pure">
    <div class="div-pure">
        <header>
            <nav class="navbar">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="planos.html">Planos</a></li>
                    <li><a href="sobrenos.html">Sobre Nós</a></li>
                    <li><a href="contato.html">Contato</a></li>
                    <li><a href="areacliente.html">Área do Cliente</a></li>
                </ul>

                <div class="div-header">
                    <h1>ParkFree</h1>
                    <h2>Seu Estacionamento Em Suas Mãos</h2>
                </div>
            </nav>
        </header>
        <section class="section">
            <h3>Sobre Nós
            </h3>
            <article class="article">
                <h4>Conheça Mais A Gente
                </h4>
                <div class="card-list">
                    <div class="card">
                        <img src="../img/ceo.jpg" alt="ceo">
                        <div class="container">
                            <h2>Yago Souza</h2>
                            <p class="title">CEO & Founder</p>
                            <p>IFES</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../img/direxec.jpg" alt="direxec">
                        <div class="container">
                            <h2>Ana Luiza</h2>
                            <p class="title">Director Executive</p>
                            <p>IFES</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../img/dirfin.jpg" alt="dirfin">
                        <div class="container">
                            <h2>Cristine Silva</h2>
                            <p class="title">Director Financial</p>
                            <p>UCL</p>
                        </div>
                    </div>
                </div>
            </article>
            <aside>

            </aside>
        </section>

        <footer class=" pure footer">
            <div>
                <h4>ParkFree - Seu Estacionamento Em Suas Mãos</h4>
            </div>
        </footer>
    </div>
</body>

</html>