<section class="thirteen columns">
    <h1>Educação</h1>
    <article>
        <header>
            <h1>Sistemas de Informação</h1>
            <span>Instituto Federal do Espírito Santo</span>
            <span><address>Espírito Santo, Brasil</address><time>2017</time></span>
        </header>
        <p>
            <em>TCC:Gerenciamento de entrada e saídas de veículos, utilizando reconhecimento de padrões em imagens.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Técnico em Automação</h1>
            <span>CEDTEC</span>
            <span><address>Espírito Santo, Brasil</address><time>2010</time></span>
        </header>
        <p>
            <em> Trabalho de conclusão: Automatização de caminhões.</em>
        </p>
    </article>
</section>