<section class="thirteen columns">
    <h1>Experiência</h1>
    <article>
        <header>
            <h1>Desenvolvedor Front/Backend - MITIS</h1>
            <span><address>Serra, Espírito Santo</address><time>2016 to 2017</time></span>
        </header>
        <p> Trabalhei com C#,VB.NET no backend junto com o SQL SERVER 2012, utilizando AngularJS para o frontend com a framework CSS Bootstrap e Tortoise SVN para versionamento de código.
        </p>
    </article>
    <article>
        <header>
            <h1>Desenvolvedor Front/Backend - Prosperi</h1>
            <span><address>Vitória, Espírito Santo</address><time>2015 to 2016</time></span>
        </header>
        <p>Desenvolvimento de aplicações web na plataforma Microsoft SharePoint 2010 e 2013 utilizando C#, SQL SERVER 2010 e Foudation Service (TFS) para o controle de versão de código.</p>
    </article>
    <article>
        <header>
            <h1>Desenvolvedor C# Tectrilha Software</h1>
            <span><address>Vitória, Espírito Santo</address><time>2013 to 2014</time></span>
        </header>
        <p>Desenvolvimento de projetos web utilizando C#.</p>
    </article>
</section>